.place__url{
    margin: 0;

    font-family: Inter;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    
    color: #FFFFFF;

    order: 1;
}
.place__url:hover{
    opacity: 0.7;
}