@import url(./vendor/normalize.css);
@import url(./blocks/index.css);
@import url(./pages/scrollbar/scrollbar.css);
@import url(./fonts/Inter/inter.css);

body {
    background: #2A2C2F;
}

.page {
    /* background: #2A2C2F; */
    width: 100%;
    margin: 0 auto 0;
}

@media screen and (max-width: 1439px) {
    .page {
        width: 1280px;
    }
}

@media screen and (max-width: 1279px) {
    .page {
        width: 1024px;
    }
}

@media screen and (max-width: 1023px) {
    .page {
        width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .page {
        width: 375px;
    }
}

@media screen and (max-width: 374px) {
    .page {
        width: 320px;
    }
}